*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs

mono_crash.*

[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

.vs/
Generated\ Files/

[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
*.VisualState.xml
TestResult.xml
nunit-*.xml

[Dd]ebugPS/
[Rr]eleasePS/
dlldata.c

BenchmarkDotNet.Artifacts/

project.lock.json
project.fragment.lock.json
artifacts/

*.nupkg
*.snupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nuget.props
*.nuget.targets

*.ilk
*.meta
*.obj
*.iobj
*.pch
*.pdb
*.ipdb
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc

_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

_TeamCity*
*.dotCover
.axoCover/*
!.axoCover/settings.json

coverage*.json
coverage*.xml
coverage*.info
*.coverage
*.coveragexml

_NCrunch_*
.*crunch*.local.xml
nCrunchTemp_*

publish/
*.[Pp]ublish.xml
*.azurePubxml
*.pubxml
*.publishproj

*.[Cc]ache
!?*.[Cc]ache/

*.binlog
*.nvuser
.mfractor/
.localhistory/
MigrationBackup/
.ionide/

.vscode/
